
body {
    background-color: #587059;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .flexPadre {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
  }
  
  .flexHijos img {
    width: 350px;
    height: 250px;
    border-radius: 3px;
  }
  
  h1 {
    text-align: center;
    color: #663322;
  }
  
  figcaption {
    text-align: center;
    color: #eeddcc;
    font-weight: bold;
  }
  
  figure{
    border: #887766 3px solid;
    padding: 4px;
  }
  
  
  
  .flexHijos :hover figcaption{
    background-color: #663322;
    transition: 1s;
  }
  
  .flexHijos {
    transition: 1s;
  }
